body {
  font-family: "Prompt", sans-serif;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(151, 103, 223, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.rm-link-url {
  text-decoration: none;
}
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: black;
  width: 90%;
  border: 0;
  outline: 0;
  background: none;
  display: inline-flex;
  caret-color: black;
  line-height: 30px;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-decoration: none;
}

#successAlert {
  width: 1000px;
}
#errorAlert {
  width: 1000px;
}
